@media (max-width: 636px){
    header{
        background-color: orange;
        height: 150px;
    }
    
    header .logo{
        margin: 10px auto;
        float: none;
        height: 80px;
    }
    
    header nav ul{
        margin: 0;
        padding: 0;
    }
    header nav{
        margin: 0 auto;
        float: none;
        width: 350px;
    }
    
    main{
        padding-top: 152px;
    }
    
    sm-full-width{
        width: 98%;
      
    }
}